
.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.flex-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.just-center{
    justify-content: center;
}

.just-around{
    justify-content: space-around;
}

.just-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.align-start{
    align-items: flex-start;
}